/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

html{
    height: 100%;
}

body{
    margin: 0;
}

.top{
    background-image: linear-gradient(to bottom, $primary-light, $primary);
}

.p{
    padding: $unit;
    &-d{
        padding: $double-unit;
    }
    &-b{
       padding-bottom: $unit;
    }
    &-r{
        &-d{
            padding-right: $double-unit;
        }
    }
    // &-t{
    //     padding-top: $unit;
    // }
}

.wrapper{
    padding: $double-unit;
    max-width: $site-width;
    margin: 0 auto;
    box-sizing: border-box;
}

.m\:{
    @include screen-bigger-than($small){
        &40{
            width: 40%;
        }
        &50{
            width: 50%;
        }
        &60{
            width: 60%;
        }

        &flex{
            display: flex;
            flex-flow: wrap;

            > * {
                box-sizing: border-box;
            }
        }
    }
}

.l\:{
    @include screen-bigger-than($medium){
        &25{
            width: 25%;
        }
        &50{
            width: 50%;
        }

        &flex{
            display: flex;
            flex-flow: wrap;
            
            > * {
                box-sizing: border-box;
            }
        }
    }
}