/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

html{
    // height: 100%;
}

body{
    // background-color: $grey-light;
    // display: flex;
    // flex-direction: column;
    // padding: 0;
    margin: 0;
    // height: 100%;
}

.site{
    // height: 100%;
    // display: flex;
    // flex-direction: column;
}

.padding{
    padding: $base-unit;
}

.wrapper{
    padding: $base-unit $double-unit;
    max-width: $site-width;
    margin: 0 auto;
    box-sizing: border-box;
    // width: 100%;
}

.content{
    max-width: $site-width;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: -11vw;
}

.main{
    background-color: $light;
    padding: $base-unit $double-unit;

    @include screen-bigger-than($medium){
        width: 70%;
    }
}