/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

body, .body-font{
    color: $text;
    font: 300 16px Arial, sans-serif;
    line-height: 1.8;
}

h1,h2,h3,h4,h5{
    font-family: Georgia, serif;
    padding: 0;
    font-weight: 400;
    line-height: 1.4;
}

.large{
    font-size: 36px;

    @include screen-bigger-than($small){
        font-size: 48px;
    }
}

a{
    color: $link;

    &:hover{
        text-decoration: none;
    }
}

strong{
    font-weight: 600;
}

.title{
    &--1{
        font-size: 24px;
    }
}

.letter-space{
    letter-spacing: 3px;
}

// .wt{
//     &-b{
//         font-weight: bold;
//     }
// }
// .m\:wt{
//     @include screen-bigger-than($small){
//         &-l{
//             font-weight: lighter;
//         }
//     }
// }