/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

body, .body-font{
    color: $text;
    font: 300 16px 'Trebuchet MS', Arial, sans-serif;
    line-height: 1.8;
}

h1,h2,h3,h4,h5{
    padding: 0;
    font-weight: 400;
    line-height: 1.2;
}

a{
    color: $light;

    &:hover{
        text-decoration: none;
    }
}

strong{
    font-weight: 600;
}

.title{
    &--1{
        font-size: 24px;
    }
}

.letter-space{
    letter-spacing: 3px;
}

// .wt{
//     &-b{
//         font-weight: bold;
//     }
// }
// .m\:wt{
//     @include screen-bigger-than($small){
//         &-l{
//             font-weight: lighter;
//         }
//     }
// }