/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

body{
    color: $text;
    font: 300 16px 'Trebuchet MS', Arial, sans-serif;
}

h1,h2,h3,h4,h5{
    padding: 0;
    font-weight: 400;
}

a{
    color: $light;

    &:hover{
        text-decoration: none;
    }
}

strong{
    font-weight: 500;
}

.title{
    &--1{
        font-size: 24px;
    }
}

.letter-space{
    letter-spacing: 3px;
}

// .page-title{
//     padding: 0 0 $base-unit;
//     margin: 0;
// }

// .font{

//     &--code{
//         // font-family: 'Source Code Pro', monospace;
//         font-family: 'Encode Sans Semi Expanded', sans-serif;
//     }
// }