/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/

// COLOURS
.primary{
    color: $primary;
}
.secondary{
    color: $secondary;
}
.accent{
    color: $accent;
}
.light{
    color: $light;
}
.dark{
    color: $dark;
}
.link{
    color: $link;
}

.text-button{
    color: $light;
    border-radius: $double-unit;
    background-color: $primary-light;
    padding: 0 $unit;
    display: inline-block;
    text-decoration: none;

    &:hover{
        background-color: $secondary;
    }
}

.button{
    width: 100%;
    background-color: $secondary;
    padding: $half-unit;
    color: $light;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    &:hover{
        background-color: $primary-light;
    }
}

.uppercase{
    text-transform: uppercase;
}

.italic{
    font-style: italic;
}

.block{
    display: block;
}

.sticky{
    position: sticky;
    top: 0;
}

// .a-{
//     &r{
//         text-align: right;
//     }
// }

.glow:target{
    outline: 3px solid transparent;
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes glow {
    // from {outline: 3px solid $link;}
    // to {outline: 3px solid transparent;}
    0%   {outline-color: transparent;}
    25%  {outline-color: transparent;}
    50%  {outline-color: $link;}
    100%  {outline-color: transparent;}
}

[data-loaded]:after{
    opacity: 0;
    top: -20px;
    transition: opacity .5s, top .5s;
    position: relative;
}

[data-loaded="true"]:after{
    opacity: 1;
    top: 0;
}

[data-hidden="true"]{
    display: none;
}

[data-hidden="false"]{
    display: block;
}
