/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/

// COLOURS
.primary{
    color: $primary;
}
.secondary{
    color: $secondary;
}
.accent{
    color: $accent;
}
.light{
    color: $light;
}
.dark{
    color: $dark;
}
.link{
    color: $link;
}

.bg-secondary-light{
    background-color: $secondary-light;
}

.bg-primary-light{
    background-color: $primary-light;
}

.text-button{
    color: $primary;
    border: 1px solid;
    border-radius: $double-unit;
    padding: $half-unit $unit;
    display: inline-block;
    text-decoration: none;


    &:hover{
        background-color: $secondary;
        color: $light;
        border-color: $secondary;
    }
}

.button{
    font-family: Georgia, serif;
    background-color: $dark;
    padding: $half-unit;
    color: $light;
    font-weight: 900;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    &:hover{
        background-color: $primary-alt;
    }
}

.uppercase{
    text-transform: uppercase;
}

.italic{
    font-style: italic;
}

.block{
    display: block;
}

.border{
    &-b{
        border-bottom: 1px solid $grey-light;
    }
}

.sticky{
    position: sticky;
    top: 0;
}

// .a-{
//     &r{
//         text-align: right;
//     }
// }

.glow:target{
    background-color: transparent;
    border-radius: $unit;
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes glow {
    // from {outline: 3px solid $link;}
    // to {outline: 3px solid transparent;}
    0%   {background-color: transparent;}
    25%  {background-color: transparent;}
    50%  {background-color: $confirm;}
    100%  {background-color: transparent;}
}

[data-loaded]:after{
    opacity: 0;
    top: -20px;
    transition: opacity .5s, top .5s;
    position: relative;
}

[data-loaded="true"]:after{
    opacity: 1;
    top: 0;
}

[data-hidden="true"]{
    display: none;
}

[data-hidden="false"]{
    display: block;
}

.scroll-x{
    overflow-x: scroll;
}
