/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/

// COLOURS
.primary{
    color: $primary;
}
.secondary{
    color: $secondary;
}
.accent{
    color: $accent;
}
.light{
    color: $light;
}

.dark{
    color: $dark;
}

.uppercase{
    text-transform: uppercase;
}

.block{
    display: block;
}
