/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/


// Colours
$primary: #054D76;
$primary-light: #10608C;
$secondary: #BBEBA4;
$accent: #00A3FF;
$secondary-accent: #00FF94;

$dark: #212A49;
$light: #FFF;

$grey-light: #E5E5E5;

$text: #6C6C6C;
$link: #0066FF;

// $secondary-highlight: #192850;

// $style-1-primary: #dadada;
// $style-1-secondary: #bdbdbd;
// $style-1-accent: #42b596;


// Spacing
$unit: 12px;
$double-unit: $unit * 2;
$half-unit: $unit/2;

$small: 767px;
$medium: 1024px;
$large: 1400px;

$site-width: $large;