/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/


// Colours
$primary-colour: #8A81A1;
$secondary-colour: #3B9A00;

$dark: #212A49;
$light: #FFF;

$grey-light: #F2F2F2;
$grey-dark: #2B2B2B;

$link: #0066FF;

// $secondary-highlight: #192850;

// $style-1-primary: #dadada;
// $style-1-secondary: #bdbdbd;
// $style-1-accent: #42b596;


// Spacing
$base-unit: 12px;
$double-unit: $base-unit * 2;
$half-unit: $base-unit/2;

$small: 767px;
$medium: 1024px;
$large: 1200px;

$site-width: $large;