<ol vocab="https://schema.org/" typeof="BreadcrumbList" class="breadcrumbs inline-list">
    <li property="itemListElement" typeof="ListItem" class="inline-list__item light">
        <a property="item" typeof="WebPage" href="{{ site.url }}" title="{{ site.titleurl }}" class="inline-list__link">
            <span property="name">Home</span>
        </a>
        <meta property="position" content="1">
    </li>
    <li property="itemListElement" typeof="ListItem" class="inline-list__item light">
            <small> / </small><a property="item" typeof="WebPage" href="{{ site.url }}/blog.html" title="{{ site.titleurl }}/blog" class="inline-list__link">
            <span property="name">Blog</span>
        </a>
        <meta property="position" content="2">
    </li>
    <li property="itemListElement" typeof="ListItem" class="inline-list__item light">
        <small> / </small><span property="name">{{ page.title }}</span>
        <meta property="position" content="3">
    </li>
</ol>