<ol vocab="https://schema.org/" typeof="BreadcrumbList" class="inline-list">
    <li property="itemListElement" typeof="ListItem" class="inline-list__item">
        <a property="item" typeof="WebPage" href="{{ site.url }}" title="{{ site.title }}" class="inline-list__link">
            <span property="name">Home</span>
        </a>
        <meta property="position" content="1">
    </li>
    ›
    <li property="itemListElement" typeof="ListItem" class="inline-list__item">
        <span property="name">{{ page.title }}</span>
        <meta property="position" content="2">
    </li>
</ol>