<h3 class="block primary uppercase title--1 letter-space">Contact</h3>
<div class="contact p-d sticky glow" id="contact" name="contact">
    <form method="POST" action="https://formspree.io/kuba.prochniak@gmail.com">
        <label for="email" class="block p-b">Email address</label>
        <input type="email" name="email" placeholder="Your email" class="input block p body-font" required>
        <label for="message" class="block p-b">How can I help?</label>
        <textarea name="message" placeholder="Message" class="input block p body-font" required></textarea>
        <button type="submit" class="button block p body-font">Send</button>
    </form>
</div>