<h3 class="block primary uppercase title--1 letter-space">Contact</h3>
<div class="contact p-d sticky glow" id="contact" name="contact">
    <form name="contact-form">
        <label for="email" class="block p-b">Email address
            <input type="email" name="email" placeholder="Your email" class="input block p body-font" required>
        </label>
        <label for="message" class="block p-b">How can I help?
            <textarea name="message" placeholder="Message" class="input block p body-font" required></textarea>
        </label>
        <button type="submit" name="submit" class="button block p body-font">Send</button>
        <div class="prompt p m-t" data-hidden="true" id="prompt"></div>
    </form>
</div>