<div class="bg-secondary-light">
    <div class="wrapper">
        <div class="m:flex">
            <div class="m:w50 l:w33">
                <h3 class="block primary title--1">Have a question?</h3>
                <p class="primary">I provide web services to small and large businesses. Get in touch using the form to get a quote or to ask a question. I usually reply within an hour.</p>                
            </div>
            <div class="m:w50 l:w33">
                <div class="glow p" id="contact" name="contact">
                    <form name="contact-form">
                        <label for="email" class="block p-b">Email address
                            <input type="email" name="email" placeholder="Your email" class="input block p body-font" required>
                        </label>
                        <label for="message" class="block p-b">How can I help?
                            <textarea name="message" placeholder="Message" class="input block p body-font" required></textarea>
                        </label>
                        <button type="submit" name="submit" class="button block body-font s:w100 m:w50">Send</button>
                        <div class="prompt p m-t" data-hidden="true" id="prompt"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>