        <footer>
            <div class="wrapper m-flex">
                <div class="m-50 l-25">
                    <a href="{{ site.url }}" title="TheWebsitesGuy homepage" class="block">{{ site.title }}</a>
                    Last updated: <span class="italic">{{ site.time | date_to_long_string }}</span>
                </div>
                <div class="m-50 l-25">
                   column
                </div>
                <div class="m-50 l-25">
                   column
                </div>
                <div class="m-50 l-25">
                   column
                </div>
            </div>
        </footer>
        <script src="{{ site.url }}/main.js"></script>
    </body>
</html>