        <footer>
            <div class="wrapper m:flex">            
                <div class="m-50 l-25 p-b p-r-d">{% for page in site.pages %}{% if page.title %}
                    <a title="{{ page.title }}" href="{{ site.url }}{{ page.url }}" class="secondary block">{{ page.title }}</a>{% endif %}{% endfor %}
                </div>
            </div>
            <div class="wrapper">
                <a href="{{ site.url }}" title="TheWebsitesGuy homepage" class="p-r-d block">{{ site.title }}</a>
                Last updated on <span class="italic">{{ site.time | date_to_long_string }}</span>
            </div>
        </footer>
        <script src="https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/6.6.2/firebase-database.js"></script>
        <script src="{{ site.url }}/main.js"></script>
    </body>
</html>