<header class="header">
    <div class="header__wrapper">
        <div class="header__logo">The<strong>Websites</strong>Guy</div>
        <ul class="icon-nav">
            <li class="icon-nav__item">
                <a href="#" class="icon-nav__link">{% include /svg/email.svg %}</a>
            </li>            
            <li class="icon-nav__item">
                <a href="#" class="icon-nav__link">{% include /svg/linkedin.svg %}</a>
            </li>            
            <li class="icon-nav__item">
                <a href="#" class="icon-nav__link">{% include /svg/facebook.svg %}</a>
            </li>            
            <li class="icon-nav__item">
                <a href="#" class="icon-nav__link">{% include /svg/github.svg %}</a>
            </li>
        </ul>
    </div>
</header>