<header class="header">
    <div class="header__wrapper wrapper">
        <div class="header__logo">
            <a href="{{ site.url }}" class="light block" title="{{ site.title }}">{{ site.title }}</a>
        </div>
        <ul class="icon-nav">
            <li class="icon-nav__item">
                <a href="#contact" title="Send enquiry" class="icon-nav__link">{% include /svg/email.svg %}</a>
            </li><li class="icon-nav__item">
                <a href="https://www.linkedin.com/in/jakub-prochniak-8bb61721/" title="LinkedIn profile" class="icon-nav__link">{% include /svg/linkedin.svg %}</a>
            </li><li class="icon-nav__item">
                <a href="https://github.com/proochster" title="GitHub" class="icon-nav__link">{% include /svg/github.svg %}</a>
            </li>
        </ul>
    </div>
</header>