<header class="header">
    <div class="header__wrapper wrapper">
        <div class="header__logo">
            <a href="{{ site.url }}" title="{{ site.titleurl }}">{% include /svg/thewebsitesguy.svg %}</a>
            <a href="{{ site.url }}" title="TheWebsitesGuy homepage" class="p-r-d block light p-t p-b">{{ site.title }}</a>
        </div>
        <ul class="nav">
            <li class="nav__item">
                <a href="#contact" title="Send enquiry" class="nav__link">{% include /svg/email.svg %}</a>
            </li><li class="nav__item">
                <a href="https://www.linkedin.com/in/jakub-prochniak-8bb61721/" title="LinkedIn profile" class="nav__link">{% include /svg/linkedin.svg %}</a>
            </li><li class="nav__item">
                <a href="https://github.com/proochster" title="GitHub" class="nav__link">{% include /svg/github.svg %}</a>
            </li>
            <li class="nav__item">
                <a href="/codes.html" title="Codes" class="nav__link"><span class="nav__text">Codes</span></a>
            </li>
            <li class="nav__item">
                <a href="https://shortcode.dev" title="Shortcode.dev" class="nav__link"><span class="nav__text">shortcode.dev</span></a>
            </li>
        </ul>
    </div>
</header>