<div class="intro">
    <h1 class="intro__title">
        <span class="block uppercase title--1 letter-space m-b dark">Developing</span>
        <span class="block secondary" data-hint="Don't let your users wait forever" data-loaded>Blazingly fast,</span>
        <span class="block secondary" data-hint="Effortless and intuitive user journey" data-loaded>User-friendly,</span>
        <span class="block secondary" data-hint="Deliver relevant content to the users" data-loaded>Optimized websites.</span>
    </h1>
</div>