<h3 class="block primary uppercase title--1 letter-space">Services</h3>
<div class="services l:flex">
    <div class="service l:50 p-r-d p-b-d">
        <h2 class="dark">Responsive Web Design</h2>
        <p>Responsive Web Design is a widely accepted approach for structuring website layouts. Well designed responsive website provides effortless and uninterrupted access to the content regardless of the device used by your audience.</p>
        <a title="Introduction to responsive web design" href="{{ site.url }}/responsive-web-design" class="block link">Responsive web design >></a>
    </div>
    <div class="service l:50 p-r-d p-b-d">
        <h2 class="dark">Website Speed & Performance</h2>
        <p>Creating a content-rich website is a great first step to the online presence. A well optimized site can boost position in the search rankings and attract more users and yet improving website performance is often an afterthought in the development process.</p>
    </div>
    <div class="service l:50 p-r-d p-b-d">
        <h2 class="dark">Personalised & Optimised Content</h2>
        <p>Increase user engagement and conversion by tailoring the information and the functionality of your site. Create and measure the impact of personalised variants based on visitors' characteristics like location, device type, behaviour and many more.</p>
    </div>
    <div class="service l:50 p-r-d p-b-d">
        <h2 class="dark">Web Accessibility</h2>
        <p>Make sure your page can be easily accessed and navigated. All content should be readable and well structured. Select a simple clear font allowing for unobstructed user journey.</p>
    </div>
    <div class="service l:50 p-r-d p-b-d">
        <h2 class="dark">Progressive Web Apps</h2>
        <p>Bring your website to a new level by integrating <strong>PWAs</strong>. This strategy allows you to improve  performance but also provides some innovative functionality like offline support, web notifications and ‘add to homescreen’ app-like shortcuts.</p>
    </div>
    <div class="service l:50 p-r-d p-b-d">
        <h2 class="dark">Website Analytics</h2>
        <p>Take advantage of <strong>Google Analytics</strong> tools to better understand <strong>user behaviour</strong>. Get the insides on metrics like engagement, traffic sources, location, bounce rates and many more.</p>
    </div>
</div>