
<div class="m:flex">
    <div class="card m:w50 m-b">
        <span>{% include /svg/icon-optimisation.min.svg %}</span>
        <h2>Content personalisation & optimisation</h2>
        <p>Increase user engagement and conversion.</p>
        <a title="Read more about content optimisation" href="{{ site.url }}/personalised-and-optimised-content.html" class="text-button">Read more&nbsp;&raquo;</a>
    </div>
    <div class="card m:w50 m-b">
        <span>{% include /svg/icon-performance.min.svg %}</span>        
        <h2>Website speed & performance enhancements</h2>
        <p>Deliver content in an instant.</p>
        <a title="Read more about web speed and performance enhancements" href="{{ site.url }}/website-speed-and-performance.html" class="text-button">Read more&nbsp;&raquo;</a>
    </div>
    <div class="card m:w50 m-b">
        <span>{% include /svg/icon-responsive.min.svg %}</span>        
        <h2>Responsive Web Design</h2>
        <p>Effortless access to the content.</p>
        <a title="Introduction to responsive web design" href="{{ site.url }}/responsive-web-design.html" class="text-button">Read more&nbsp;&raquo;</a>
    </div>
    <div class="card m:w50 m-b">
        <span>{% include /svg/icon-accessibility.min.svg %}</span>        
        <h2>Web accessibility improvements</h2> 
        <p>Reach out to all audiences.</p>
        <a title="Read more about web accessibility improvements" href="{{ site.url }}/web-accessibility-improvements.html" class="text-button">Read more&nbsp;&raquo;</a>
    </div>
</div>
<!-- <div class="m:flex p-t p-b">
    <div class="m:w50 p-r-d p-b-d m-t">
        <h2>Progressive Web Apps implementation</h2>
        <p>Bring your website to a new level by integrating <strong>PWAs</strong>. This strategy allows you to improve  performance but also provides some innovative functionality like offline support, web notifications and ‘add to home screen’ app-like shortcuts.</p>
    </div>
    <div class="m:w50 p-r-d p-b-d m-t">
        <h2>Website Analytics integration</h2>
        <p>Take advantage of <strong>Google Analytics</strong> tools to better understand <strong>user behaviour</strong>. Get the insides on metrics like engagement, traffic sources, location, bounce rates and many more.</p>
    </div>
</div> -->