<h3 class="block primary uppercase title--1 letter-space">Services</h3>
<div class="services l:flex">
    <div class="service l:50 p-r-d p-b-d">
        <h2 class="dark">Personalisation & optimisation of web content</h2>
        <p>Increase user engagement and conversion by tailoring the information and the functionality of your site. Create and measure the impact of personalised variants based on visitors' characteristics like location, device type, behaviour and many more.</p>
        <a title="Read more about content optimisation" href="{{ site.url }}/personalised-and-optimised-content.html" class="block link">More about content optimisation &raquo;</a>
    </div>
    <div class="service l:50 p-r-d p-b-d">
        <h2 class="dark">Website speed & performance enhancements</h2>
        <p>Creating a content-rich website is a great first step to the online presence. A well optimized site can boost position in the search rankings and attract more users. Improving website performance should be an integral and continuous part of the development process rather than an afterthought.</p>
        <a title="Read more about web speed and performance enhancements" href="{{ site.url }}/website-speed-and-performance.html" class="block link">More about speed & performance &raquo;</a>
    </div>
    <div class="service l:50 p-r-d p-b-d">
        <h2 class="dark">Responsive web design</h2>
        <p>Responsive Web Design is a widely accepted approach for structuring website layouts. Well designed responsive website provides effortless and uninterrupted access to the content regardless of the device used by your audience.</p>
        <a title="Introduction to responsive web design" href="{{ site.url }}/responsive-web-design.html" class="block link">Responsive web design development &raquo;</a>
    </div>
    <div class="service l:50 p-r-d p-b-d">
        <h2 class="dark">Web accessibility improvements</h2> 
        <p>Web accessibility faces numerous challenges and it can take a lot of time to implement correctly, however, it can be one of the most significant aspects separating you from your competitors. Your users will thank you for it and, at the same time, you will improve your web status in the search engine records. </p>
        <a title="Read more about web accessibility improvements" href="{{ site.url }}/web-accessibility-improvements.html" class="block link">Web accessibility improvements &raquo;</a>
    </div>
    <div class="service l:50 p-r-d p-b-d">
        <h2 class="dark">Progressive web apps implementations</h2>
        <p>Bring your website to a new level by integrating <strong>PWAs</strong>. This strategy allows you to improve  performance but also provides some innovative functionality like offline support, web notifications and ‘add to home screen’ app-like shortcuts.</p>
    </div>
    <div class="service l:50 p-r-d p-b-d">
        <h2 class="dark">Website Analytics</h2>
        <p>Take advantage of <strong>Google Analytics</strong> tools to better understand <strong>user behaviour</strong>. Get the insides on metrics like engagement, traffic sources, location, bounce rates and many more.</p>
    </div>
</div>