/*------------------------------------*\
    #CARD
\*------------------------------------*/

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
    
    
    @include screen-bigger-than($small){
        padding: 50px;
    }
    // border-radius: $unit;
    // box-shadow: 0px 4px 10px $grey-mid;
    // background-image: linear-gradient(to bottom, $secondary-light, $secondary-light, $light);
    // position: relative;
    // overflow: hidden;

    // &:before{
    //     content: attr(data-card);
    //     position: absolute;
    //     color: $light;
    //     font-size: 182px;
    //     left: 30%;
    //     z-index: 1;
    //     line-height: 1;
    //     bottom: 100px;
    //     transform: rotate(-90deg);
    //     width: 100%;
    // }

    h2 {
        color: $secondary;
        margin: 0;
        font-size: 32px;
        // border-bottom: 1px solid $grey-light;
        // z-index: 2;
        // text-shadow: -1px -1px 0px #FFF;
    }
    p {
        color: $text;
        margin: $unit 0;
        flex-grow: 1;
        padding-bottom: 24px;
        // z-index: 2;
    }
    a {
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        // z-index: 2;
    }
}