/*------------------------------------*\
    #CONTACT
\*------------------------------------*/

.contact{
    background-color: $secondary-light;
}

.input{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid $grey-light;
}

.prompt{
    border: 3px solid $light;
    color: $dark;
}

.success{
    background-color: $secondary;
}
.error{
    background-color: $warning;
}