/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header{
    background-color: $dark;

    @include screen-bigger-than($small){
        &__wrapper{
            display: flex;
            justify-content: space-between;
        }
    }

    &__logo{
        line-height: 1;

        a{
            text-decoration: none;
        }

        svg {
            height: 60px;
        }
    }
}