/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header{
    background-color: $dark;

    @include screen-bigger-than($small){
        &__wrapper{
            display: flex;
            justify-content: space-between;
        }
    }

    &__logo{
        font-size: 18px;
        line-height: 40px;

        a{
            text-decoration: none;
        }
    }
}