/*------------------------------------*\
    #ICON NAV
\*------------------------------------*/

.nav{
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 51px;

    &__item{
        display: inline-block;
    }

    &__text{
        border-radius: $double-unit;
        padding: $half-unit $unit;
        color: $light;
        display: inline;
        border: 1px solid;
        text-decoration: none;
    }

    &__link{
        color: $secondary;
        padding: $unit;
        text-decoration: none;
        
        svg{
            width: 18px;
            height: 18px;
            margin: 0 0 -4px;
        }
    }
}