/*------------------------------------*\
    #ICON NAV
\*------------------------------------*/

.icon-nav{
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 25px;

    &__item{
        display: inline-block;
    }

    &__link{
        padding: $half-unit;
        display: block;
        width: 18px;
        margin-right: 36px;
    }
}