/*------------------------------------*\
    #ICON NAV
\*------------------------------------*/

.icon-nav{
    padding: 0;
    margin: 0;
    list-style: none;

    &__item{
        display: inline-block;
    }

    &__link{
        color: $secondary;
        padding: $unit;
        display: block;
        width: 18px;
        height: 18px;
    }
}