/*------------------------------------*\
    #INLINE LIST
\*------------------------------------*/

.inline-list{
    list-style: none;
    padding: 0;
    margin: 0;

    &__item{
        display: inline-block;
    }

    &__link{
        color: $accent;
        display: inline-block;
        white-space: nowrap;
    }
}