/*------------------------------------*\
    #INTRO
\*------------------------------------*/

.intro{ 

    &__title{
        font-size: 42px;
        text-align: center;

        @include screen-bigger-than($small){
            font-size: 96px;
            line-height: 1;
        }
    }

    &__sub{
        color: $light;
        font-family: Arial, sans-serif;
        letter-spacing: 5px;
        font-size: 20px;
    }
}

[data-hint]{
    position: relative;
    line-height: 1;
    padding: 0 0 14px;
    display: block;
    
    @include screen-bigger-than($small){
        border-bottom: 1px solid $accent;
        display: inline;
    }

    &:after {
        background: $dark;
        color: $light;
        content: attr(data-hint);
        padding: 0 12px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        display: table;
        letter-spacing: 3px;
        margin: 12px auto 24px;
        
        @include screen-bigger-than($small){
            margin: 12px auto 48px;
        }
        // @include screen-bigger-than($large){
        //     display: inline-block;
        //     border-radius: 20px 20px 20px 0;
        //     position: absolute;
        // }
    }
}
