/*------------------------------------*\
    #INTRO
\*------------------------------------*/

.intro{
    padding-left: $double-unit;
    border-left: 1px solid $accent;

    &__title{
        font-size: 48px;

        @include screen-bigger-than($small){
            font-size: 96px;
            line-height: 1;
        }
    }
}

[data-hint]{
    position: relative;
    // clear: both;

    // &:before{
    //     @include screen-smaller-than($large){
    //         background: $primary-light;
    //         color: $secondary-accent;
    //         content: "i";
    //         position: absolute;
    //         font-size: 14px;
    //         border: 1px solid;
    //         border-radius: 20px;
    //         width: 22px;
    //         height: 19px;
    //         text-align: center;
    //         bottom: 8px;
    //         padding: 3px 0 0 0;
    //         left: -36px;
    //     }
    // }

    &:after {
        content: attr(data-hint);
        padding: $half-unit $unit;
        background-color: $accent;
        border-left: 5px solid $secondary;
        border-radius: 0 10px 10px 10px;
        font-size: 16px;
        font-weight: lighter;
        color: $light;
        display: block;
        width: fit-content;
        
        @include screen-bigger-than($small){
            padding: $unit $double-unit;
            margin-top: $unit;
            max-width: 50%;
        }
        @include screen-bigger-than($large){
            display: inline-block;
            border-radius: 10px 10px 10px 0;
            position: absolute;
        }
    }
}
