/*------------------------------------*\
    #INTRO
\*------------------------------------*/

.intro{

    // min-height: 30vh;
    // padding: 10vw 0 20vw;

    &__title{
        font-size: 38px;
        font-weight: 300;
        // min-height: 100vh;

        @include screen-bigger-than($small){
            font-size: 48px;
        }
    }
}