/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

.nav{
    background-color: $primary-alt;
    position: sticky;
    top: 0;
    z-index: 1;
    // width: 100%;
    // display: block;
    // border-bottom: 3px solid $style-1-accent;


    &-list{
        padding: 0 $base-unit;
        max-width: $site-width;
        margin: 0 auto;
        box-sizing: border-box;

        &__item{
            display: inline-block;
        }

        &__link{
            padding: $base-unit;
            color: $light;
            text-decoration: none;
            display: block;
            white-space: nowrap;
        }
    } 
}