---
---
{% include head.html layout="narrow" %}
{% include header.html %}
<div class="top">
    <div class="wrapper">
        {% include page-intro.html %}
        {% include breadcrumbs.html %}
    </div>
</div>
<div class="wrapper">
    <div class="content m:60">
        <main class="main">
            <ul>
            {% for post in site.posts %}
                <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </main>
    </div>
</div>
{% include contact.html %}
{% include footer.html %}