---
---
{% include head.html layout="narrow" %}
<div class="top">
    <div class="wrapper">
        {% include header.html %}
        {% include page-intro.html %}
    </div>
</div>
<div class="wrapper">
    {% include breadcrumbs.html %}
    <div class="content m:flex">
        <main class="main m:60 p-r-d">
            {% if page.date %}<small class="italic">Updated on {{ page.date | date_to_long_string }}</small></span>{% endif %}
            {{ content }}
        </main>
        <aside class="m:40">
            {% include contact.html %}
        </aside>
    </div>
</div>
{% include footer.html %}