---
---
{% include head.html layout="narrow" %}
{% include header.html %}
<div class="top">
    <div class="wrapper">
        {% include page-intro.html %}
        {% include breadcrumbs.html %}
    </div>
</div>
<div class="wrapper">
    <div class="content m:60">
        <main class="main">
            {% if page.date %}<small class="italic">Updated on {{ page.date | date_to_long_string }}</small></span>{% endif %}
            {{ content }}
        </main>
    </div>
</div>
<div>
    {% include contact.html %}
</div>
{% include footer.html %}