---
---
{% include head.html %}
{% include header.html %}
<div class="top">
    <div class="wrapper">
        {% include intro.html %}
    </div>
</div>
<div class="bg-secondary-light">
    <div class="wrapper m:flex text-center">
        <div class="m:w50 align-center">
            <h2 class="primary">
                I specialise in developing highly optimised websites and help my clients to improve and maintain performance of their existing solutions.
                <a href="#contact" title="Ask me a question">Sounds good? Get in touch </a>.
            </h2>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="content">
        <main class="main">
            {{ content }}
        </main>
    </div>
</div>
<div>
    {% include contact.html %}
</div>
{% include footer.html %}